
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://images.hdqwalls.com/wallpapers/minimal-landscape-4k-ro.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }


.Reviews{
    color: #4A2358;
    font-size: large;
    font-weight: 600;
    text-align: center;
    position: relative;
    
}

.review-box{
    padding-top: 8rem;
    color: #4A2358;
    font-size: large;
    font-weight: 600;
    text-align: center;
    
}

.review-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 1em;
    border: 2px solid #90606E;
    border-radius: 10px;
    color: white;
    background-color: #946d8c;
}
  
.review-container:hover{
    transition: 200ms;
    scale: 1.02;
}

.review-title{
    color: #4A2358;
    font-family: "new-spirit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    padding: 0.4rem;
    font-weight: 700;
}

.img{
    margin: 1em 0 0;
    max-width: 100%;
    border: 2px solid #90606E;
    border-radius: 10px;
}

.left{
    text-align: left;
}

.review-text{
    display:flex;
    justify-content: space-between;
    color: #4A2358; 
    padding: 0.4rem;
}

.right{
    text-align: end;
}

  .image {
    max-width: 100%;
    max-height: 100%;
  }