.Header {
  padding: 10px; 
  border: 1px solid #3e0cd5; 
  margin-bottom: 20px;
}

.Nav {
  padding: 10px; 
  border: 1px solid #700cd5; 
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 50px;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-height: 20rem;
  max-width: 20rem;
  padding: 10%;
  margin: 10px;
  object-fit: contain;
}

.Review-Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-category {
  color: #d5a90c;
}

.review-body {
  min-height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.review-container {
  flex-basis: calc(33.33% - 0.67rem);
  min-width: 200px;
  min-height: 200px;
  border: 1px solid purple;
  
}

.review-title {
  text-align: center;
  word-wrap: break-word;
}
  

